@charset "UTF-8";
@font-face {
    font-family: 'Snow';
    src: url('../musculaçao/fontes/Snowstorm Kraft.otf') format('opentype');
}

body {
    background-color: black;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

img {
    display: block;
    margin: 0px auto;
}

h1 {
    font-family: 'Snow';
    text-align: center;
    font-size: 50px;
   
}