@charset "UTF-8";
@font-face {
    font-family: 'Droid';
    src: url('../des010/fontes/idroid.otf') format('opentype');
}

h1, h2 {
    font-family: 'Droid';
    color: rgb(2, 88, 2);
}

body {
    background-color: #84E1AD;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
    width: 810px;
    padding: 15px;
    margin: auto;
}

header {
    background-image: linear-gradient(to bottom, #3BD47F, #1A6038);
    color: white;
    text-align: center;
}

nav > a {
    text-align: left;
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

#topo {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}